[2017-01-04 12:52] atinux opened #1 "Bundle size"
I think there is a bug in the bundling process:

I use [package-size](https://github.com/egoist/package-size) to check the sizes of vue and vue-clip:
[code]

When I checked the source code of your project (`src` folder), it can't be possible that it's as big a Vue.js, maybe Webpack is putting vue inside the bundle?

[2017-01-04 12:54] thetutlage commented on #1
Nope http://www.dropzonejs.com is 40KB alone, so that increases the size.

I have plans to implement the core file upload library by hand, which will be transparent change for the API consumers.

[2017-01-04 12:56] atinux commented on #1
I was checking the dependencies and saw dropzonejs :)

Anyway, great component, keep up the good work 👏

[2017-01-04 12:56] #1 closed, assigned to nobody

[2017-01-04 18:27] atinux opened #2 "Compatible with SSR"
Actually, `vue-clip` is not compatible with server-side rendering, do you plan to make it compatible in the future?

[2017-01-04 23:20] dritterman opened #3 "Basic Usage Example has typo in it"
In the "clip-uploader-body" in the basic example I think it should be
`<div v-for="file in props.files">` instead of `<div v-for="file in file.props">`

[2017-01-05 05:40] #3 closed, assigned to nobody

[2017-01-05 18:20] thetutlage commented on #2
I haven't tried it on Server, will try it and look for possible issues

[2017-01-17 13:48] andrisi opened #4 "Store files as data in parent through props"
Would it be possible to move the files array into the parent, so it could use it for other purposes too? Just as the example under "basic usage" gets the options from the parent as a component prop.

Use case: we need to enable drag and drop reordering of already uploaded images, and then save this order along with the images. So vue-clip would store files in an array on the root data, and then we

[2017-01-24 11:36] andrisi commented on #4
This would be also helpful when deleting/changing existing images. For now file.setAttibute calls don't seem to have an effect on the files array when called in the onComplete function, and thus the display, and so if I want to add actions (like rotate/crop/delete) or drag and drop inside the image list, I am in trouble. Or I did not understand the docs. Instead of relying on events like onRemoved

[2017-01-24 11:39] thetutlage commented on #4
Yo can still do it by listening for an event called `onAddedFile`. Which returns the file object that you can store inside the data of the parent component.

Example

[code]

[2017-01-24 11:42] andrisi commented on #4
Yes, I thought about it - but it does not seem to be the Vue-way. Why rely on custom events, when Vue is all about reactive data? You shall just store data (on additions, and later changing on upload), and let others decide about they way to handle that. Again, watch functions are just for that. This addFile method seems hackish. Then you'd need to devise ways to indentify the file when deleting i

[2017-01-24 11:47] andrisi opened #5 "Have an option to make "clip-uploader-body" dropable"
Sometimes you don't want to have a separate drop area from the area you display images. You'd just drop a new image among the already existing ones, perhaps placing them at the right place in their order.

[2017-01-24 11:52] thetutlage commented on #4
Nope it is not hackish at all. Vue itself encourage to make use of events to talk between components. Why `vue-clip` should try to mutate your data property. That's against the general programming idea.

[2017-01-24 11:53] thetutlage commented on #4
Also you don't loose any reactivity. This is just one event to get the file instance and all state updates on that file instance are reactive.

For example:- The file upload progress or status change after uploading to server

[2017-01-24 11:56] andrisi commented on #4
Now I understood, setAttribute stores data under the customAttributes. And ok, I get reacitvity on that file object, but only inside your component. Using an optional array passed as a props element to store files would just make your component more flexible, and would require less work in some cases - this is your goal after all, isn't it? Otherwise it's a very useful component, and thanks for th

[2017-01-24 12:24] thetutlage commented on #4
Nope, you also get reactivity even when your component also makes use of that file object. Just try it once 😃

[2017-01-24 14:51] andrisi commented on #4
I see. Then the only point missing is what I asked initially, the props thing. Are you really so much against it? If you have a :files prop, use that, otherwise it's in .data. I added it in my local copy. I do understand the need for event based separation of parent and component, but in some cases - like hen you create a component based on components, you just don't need that. The main component

[2017-01-30 12:36] andrisi opened #6 "Uploader with existing images"
Sometimes you'd want to use the uploader when editing something, not creating a new item, so the uploader shall have a list of existing images. The question is how to specify this in the files array? I'd think just adding objects with a url property, but if I do so now it fails with an error as it's not prepared for this.

[2017-01-31 13:14] thetutlage commented on #5
Sorry for the late reply. I will look into the available options for same and will update you.

[2017-01-31 13:15] thetutlage commented on #6
Can u share the error you receive?

[2017-02-02 10:54] kartsims opened #7 "NPM links"
NPM website doesn't link to this repo, you should probably insert some info in `package.json`

Also shouldn't this repo be moved to AdonisJS's github ?

I am just saying because it wasn't ease to reach the source code on github, I had to google it, which is unusual for NPM packages

Thanks for the great work btw :)

[2017-02-02 11:32] thetutlage commented on #7
Will add it to `package.json` and I want to keep the personal stuff to my account. Since AdonisJs is more of community effort and with time more contributors will be added to the organisation.

[2017-02-02 12:13] kartsims commented on #7
Maybe consider publishing to NPM with your personal account, that got me confused too...

[2017-02-02 13:50] kartsims opened #8 "maxFilesize message is not working"
When specifying a message in the `maxFilesize` configuration, the template is not interpreted :

My configuration
[code]

What I get on the screen :
[code]

Variables are not rendered with their actual values

[2017-02-02 16:11] thetutlage commented on #7
Ohhhh that can be the issue, since I usually logged in as `adonisjs` on my machine. Will fix it

[2017-02-02 16:31] #8 closed, assigned to nobody

[2017-02-02 17:19] lee-frank opened #9 "[Question] How do I access .processQueue()"
Hi! In my options object I've set ```autoProcessQueue: false```. According to the [dropzone documentation](http://www.dropzonejs.com/#config-autoProcessQueue) I need to call .processQueue() explicitly. How do I access this function to process the queue? Thanks for all your work so far!

[2017-02-02 18:18] thetutlage commented on #9
Their isn't any public API for that. I will add it, meanwhile you can access the dropzone instance as defined below

[code]

The nested uploader thing is funny. I will expose the api.

[2017-02-03 02:54] tomByrer commented on #2
Is there a way to make an element ignored with SSR?  (Might have to do more with the SSR config, not vue-clip).

[2017-02-03 09:41] tomByrer opened #10 "test doesn't run on Win10"
[code]

TIA

[2017-02-21 22:53] ghost commented on #5
Yeah we realy need this feature :+1:

[2017-03-07 20:59] mstaack opened #11 "Flush Items after Upload"
Given i am using this in a bootstrap modal.

How can i flush the items in the file.props array?  so after opening the modal again the items are not present anymore..

far the best upload plugin for vuejs! really awesome
thanks max

[2017-03-08 04:45] thetutlage commented on #11
You can access the uploader instance by using `onInit` event http://vueclip.adonisjs.com/#-events and then reset the array anytime you want by using the uploader instance. The following should work

[code]

[2017-03-08 12:56] mstaack commented on #11
Awesome! Will give it a try!

[2017-03-08 13:44] mstaack commented on #11
@thetutlage one more question:

after complete fileupload i am adding the response back into my data array like this:

[code]

is there a better way to add as json then using `JSON.parse`?  like telling xhr its json or something?

[2017-03-08 22:56] mstaack opened #12 "Integration silverwind/uppie Folder Select"
I am trying get this package to work with vue-clip:

https://github.com/silverwind/uppie

any hints? Can this be integrated?

Cheers
Max

[2017-03-08 22:56] #11 closed, assigned to nobody

[2017-03-31 20:17] neojpk opened #13 "base 64 resolution ?"
Hi. is possible to config the resolution of the preview ? Currently is 120X120 on base64. Cheers

[2017-04-02 00:04] emalecbrown opened #14 "option to remove cache-control"
certain CORS settings disallow cache-control

[2017-04-04 09:16] thetutlage commented on #14
You can define headers inside the config options.

[code]

[code]

[2017-04-05 07:11] thetutlage commented on #13
Yes you can pass `thumbnailWidth` and `thumbnailHeight` options.

[2017-04-06 01:26] cybertino opened #15 "AutoStart option"
It would be good to have an option to prevent automatic upload.

[2017-04-07 09:52] thetutlage commented on #14
Closing since no updates from the issue reporter

[2017-04-07 09:52] #14 closed, assigned to nobody

[2017-04-07 09:52] thetutlage commented on #13
Closing since no updates from the issue reporter

[2017-04-07 09:52] #13 closed, assigned to nobody

[2017-04-07 09:53] thetutlage commented on #15
Duplicate of https://github.com/thetutlage/vue-clip/issues/9

[2017-04-07 09:53] #15 closed, assigned to nobody

[2017-04-12 10:47] Remo opened #16 "Upgrade to Vue 2.2.6 caused "template or render function not defined" error"
When I upgraded to Vue 2.2.6 I started to receive this warning:

[code]

It seems like there's a solution for this: https://forum-archive.vuejs.org/topic/4399/vue-2-0-vue-warn-failed-to-mount-component-template-or-render-function-not-defined-found-in-root-instance/6

Any chance we can get this working iwth Vue 2.2.6?

[2017-04-12 11:42] thetutlage commented on #16
How do you make use of `vuejs`? Are you using inbuilt webpack or you have your own custom setup?

[2017-04-12 11:43] Remo commented on #16
Part of laravel, default configuration when you create a new laravel project, elixir and webpack.

[2017-04-12 11:45] thetutlage commented on #16
I am not sure what they use, but you need to make sure the `vue` import is aliasing `vue/dist/vue.js`

This is what I have in my webpack file for any vue.js project, under aliases object

[code]

[2017-04-12 11:58] Remo commented on #16
Thanks, still no luck though.

Tried:
* https://github.com/vuejs/laravel-elixir-vue-2/issues/13#issuecomment-258927183
* https://laracasts.com/discuss/channels/vue/failed-to-mount-component-template-or-render-function-not-defined-1/replies/300621
* https://laracasts.com/discuss/channels/vue/failed-to-mount-component-template-or-render-function-not-defined-found-in-root-instance/replies/304352 (wit

[2017-04-12 13:31] t2thec commented on #6
Thanks for plugin. Really nice!

I'm struggling with this to at the moment. Based the recommended way to accomplish this: https://github.com/enyo/dropzone/wiki/FAQ#how-to-show-files-already-stored-on-server

[code]

The only references I can find to `bytesSent` has to do with the `uploadprogress` function. I've tried faking it to no avail.

- Any ideas what might be causing this?
- Am I calling Dr

[2017-04-12 16:10] vkruoso opened #17 "acceptedFiles.split is not a function"
When using the syntax below I'm getting an error in the console saying that ``acceptedFiles.split is not a function``. Switching to the object syntax, there is no error.

[code]

[2017-04-12 16:55] thetutlage commented on #17
yup will fix it, for now a comma separated string will work too `image/*,application/pdf,.psd`

[2017-04-12 17:14] vkruoso commented on #17
Great! Thanks for such great component.

[2017-04-12 17:18] vkruoso opened #18 "[Question] Events API"
First of all thanks for a great component. I've just spent a few time trying to figure out a problem with my code handling ``vue-clip`` events. It turns out I was trying to use the ``v-on`` to listen for events but it was expected to pass a prop (with ``v-bind`` or the ``:`` syntax) with a function instead.

I'm quite new to vue but it seems the ``v-on`` syntax is the vue way of communicating with

[2017-04-14 14:01] abishekrsrikaanth opened #19 "REQUEST: Retry Support"
Just started using this component, and so far love the amount of flexibility to customize it. Would it be possible to provide support for retries so if an error happens on file upload the component could retry? There can also be a `:maxRetries=?` an option that defines how many times the retry has to be made.

[2017-04-16 21:05] Remo commented on #16
I've had another look, the following `webpack.config.js` does include `vue/dist/vue.js`, but it still doesn't work:

[code]

Here you can see that the correct file is used, previously it was `vue.common.js`:
![image](https://cloud.githubusercontent.com/assets/129864/25074329/af4a57b4-22f8-11e7-9468-44d1310fe795.png)

Anyone out there having a good idea?

[2017-04-17 04:06] thetutlage commented on #16
Lemme try to reproduce the issue

[2017-04-17 08:44] Remo commented on #16
I've created a new laravel project with nothing but a test component and vue-clip in it:
https://github.com/ortic/larvel-vue-clip-test
It seems like they've changed their structure, no more gulpfile, but it still doesn't work.

[2017-04-17 08:50] Remo commented on #16
@thetutlage okay, registering it differently seems to work with this version of laravel https://github.com/ortic/larvel-vue-clip-test/commit/96323dd1a1408b6b3ac0562db6dbf59fa2e23528
Not sure that's always what I want, but at least it works.

[2017-04-21 07:54] jyyan commented on #16
Same issue. freeze me many day...

just fix it right now with change the order of 'extentions' from

[code]
to
[code]

FYR,

[2017-04-23 22:55] alexsasharegan commented on #18
I'm just diving into using this component myself, but there's an [events section](https://github.com/thetutlage/vue-clip#events) on the readme. Check it out and see if it has what you're looking for.

[2017-04-25 14:46] cb109 opened #20 "Setting the upload URL after component initialization"
Hi,

I am currently using a `<vue-clip>` instance within a bootstrap modal, meaning the component is rendered alongside the modal when the page is loaded and only hidden/shown as needed.

## The Problem
The upload URL is not yet known at that point in time and I would like to update it once a user has performed some action that will let us know which URL to use (e.g. `/groups/{id}/upload`).

I hav

[2017-04-25 15:01] cb109 commented on #20
Nevermind I just realized you are using `Dropzone` under the hood. It allows to specify a function as the `url` option and that lazily computes the URL as needed before the actual upload is happening.

[2017-04-25 15:01] #20 closed, assigned to nobody

[2017-04-25 15:11] alexsasharegan commented on #20
@cb109 Could you possibly add in a code example of this solution? I often use computed urls, and I would love to have this thread be a little knowledge base article of sorts.

[2017-04-25 15:35] cb109 commented on #20
Sure, it was basically just this within my parent component that wrapped the `vue-clip` (`options` being passed to it as a prop here):

[code]

[2017-04-25 15:44] alexsasharegan commented on #20
Awesome, thank you! I'm about to dive into a project that'll make heavy use of this. You don't think the `this` binding will get tricky when `vue-clip` invokes the url function, do you? This is my first Vue project. I thought you might have to pass the options like this:

[code]

[2017-04-25 16:53] cb109 commented on #20
Hey, yes I fixed two small errors right after posting. I don't think you have to use `bind()` and will still be able access the `vm` context correctly within `getDropzoneUploadUrl()`, at least it did work for me.

[2017-04-25 21:54] abishekrsrikaanth commented on #17
@thetutlage,  I tried both the suggestions
[code]
and
[code]
both seems to throw the same error.

[2017-04-25 23:04] alexsasharegan commented on #17
@thetutlage I believe my [PR 21](https://github.com/thetutlage/vue-clip/pull/21) should clear this up and conform to your prop options as declared in the readme.

[2017-04-25 23:18] alexsasharegan commented on #17
@abishekrsrikaanth ,

The current release will only handle a string or object. Here are your options:
- raw string
[code]
- object
[code]
- quick fix to your existing array setup
[code]

[2017-04-26 00:06] abishekrsrikaanth commented on #17
@alexsasharegan  👍 thank you

[2017-05-03 20:51] vafl-brut opened #22 "uploadMultiple doesnt seem to work"
Hello!
Great plugin, thanks!
One problem so far - setting uploadMultiple: false doesnt seem to have any effect - Im still able to select multiple files in the file selector dialog.  However, setting maxFiles: 1 does the trick but I have to clear files on upload to allow for re-upload. Is this just me or this behavior is counter-intuitive ?

Thanks!

[2017-05-04 03:44] thetutlage commented on #22
The `uploadMultiple` options works a little different. If set to true multiple files will be sent at once in a single request and also user will be able to select multiple files.

If you set it to `false` the user can still select multiple files, but each file will be sent as a single request. Which means for 5 files 5 HTTP requests will fire.

[2017-05-04 13:13] vafl-brut commented on #22
in this case, how do i limit to one file per upload yet allow for multiple uploads 'per session'?

[2017-05-05 09:45] cb109 commented on #22
Setting the VueClip instance's `files` Array to `[]` did not clear the error message for when trying to use the same instance for another upload. Any suggested way to reset the instance to pristine state?

[2017-05-05 12:44] cb109 commented on #22
Resetting the `VueClip` instance by applying buffered state like here https://github.com/vuejs/vue/issues/702 did not work for me, but this hack seems to achieve kind of what I am looking for: I draw the `VueClip` conditionally using `v-if`, then I can "reset" it by removing it from the DOM for a single draw cycle and add it back in:

[code]

[code]

I would very much prefer a `myVueClipInstance.r

[2017-05-17 05:45] samburgers opened #23 "Double click"
Hi, is there any simple way to prevent double a click from opening the file browser dialog twice?

[2017-05-19 07:51] lynhao commented on #23
@samburgers  the same as you,you the problem solved ?

[2017-05-19 13:18] misterjacket opened #24 "Height and Width are not working"
![image](https://cloud.githubusercontent.com/assets/22674987/26249299/4373ad2a-3ca6-11e7-950d-ed7bbcc86faf.png)

As you can see the ''Height'' and ''Width'' are undefined. I tried this with jpeg and png files.

Anyone have a solution?

[2017-05-19 17:08] alexsasharegan opened #25 "[Question] Best way to import with es2015 modules"
A lot of libs these days are shipping a `lib.esm.js` file in their dist folder to enable the client to run the lib through their own bundler and get all the possible static analysis gains. Since there is no `vue-clip.esm.js` and this looks to be written with harmony modules, would you say the best alternative is to import like so: `import VueClip from 'vue-clip/index'`?

[2017-05-19 20:24] alexsasharegan commented on #25
So, that import path does not work with build systems that use the production runtime of vuejs because the template needs to be converted to a render function.

I've created a single file component version of this lib that I will put on github shortly. You can review it and see if you are interested in merging the different structure. Personally, I think it is a little more idiomatic to use `.vue`

[2017-05-19 21:06] alexsasharegan commented on #25
WIP @ https://github.com/alexsasharegan/vue-clip/tree/develop

[2017-05-19 21:58] alexsasharegan opened #26 "[Bug] Component is missing destroy logic"
This component initializes the Dropzone element under the hood, but it does not implement clean up logic.

[2017-05-19 22:04] alexsasharegan commented on #26
Looks like an easy fix.

In the clip component:
[code]

And a tweak to the Uploader class:
[code]

[2017-05-23 00:04] alexsasharegan commented on #26
Found that Dropzone has an option called `hiddenInputContainer`. An element in the vue-clip component should be created with a uniquely generated id to facilitate this. This will allow vuejs to handle cleanup and avoid leaking nodes in a dynamically created vue-clip instance.

[2017-05-23 00:08] alexsasharegan commented on #22
@cb109 Have you tried `vueClipInstance.removeAllFiles()`? You could try throwing that in your `reset` method and tell us yea or nay

[2017-05-23 00:15] alexsasharegan commented on #22
P.S. I'd rather merge than fork, but I'm working on making this a little more esNext compliant here: https://github.com/alexsasharegan/vue-clip. I'm also leaning towards more idiomatic vue code—one example being emiting the Dropzone events right of the component rather than using a matching set of callbacks. I think the component can also stay lighter that way. Contributions or feedback welcome.

[2017-05-23 07:53] misterjacket commented on #24
can someone help me !?

[2017-05-23 13:28] alexsasharegan commented on #24
When the file is added, a new File object is created from the native file interface object that dropzone passes vue-clip. See here for the event handler: https://github.com/thetutlage/vue-clip/blob/master/src/components/Clip/index.js#L224-L239. See here for the File constructor: https://github.com/thetutlage/vue-clip/blob/master/src/File.js#L5-L20.

If I remember right from my own debugging, I usu

[2017-05-23 22:05] cb109 commented on #22
@alexsasharegan Yes I tried that, it rendered the instance unusable for me, which was bad because it's part of a modal dialog that needs to work more than once. So far my hack above seems to do the job.

[2017-05-23 22:10] alexsasharegan commented on #22
P.S. @vafl-brut I think you could set `options.parallelUploads = 1` for 1 upload per go.

[2017-05-23 22:12] alexsasharegan commented on #22
@cb109 I see what you're doing now, basically forcing Vue to garbage collect the existing instance and make a fresh one. Is it just error messaging you need clear? Maybe you could include more of your modal code. I don't see any Dropzone methods to clear an error message, but I feel like that is something you would display "manually" in your component.

[2017-05-23 22:22] alexsasharegan commented on #22
@vafl-brut If you need something more dynamic, I bet you could set `options.maxFiles = 1` and implement the logic you need to restrict the flow on the `maxfilesexceeded` event (which I believe vue-clip uses a `onMaxFilesExceeded` option to pass your callback). But at that point, maybe you shouldn't make everything clickable/draggable, but add files "manually" through your own custom logic.

...or

[2017-05-24 06:21] thetutlage commented on #26
👍  Will work on it

[2017-05-24 15:04] alexsasharegan commented on #26
Here's some ammo for the changes:

[code]

[2017-05-31 20:05] cristian-gherghel commented on #22
Any news? I do have the same issue, as being able to load one file per upload (for avatar), but multiple times per session (as someone would want to change his avatar pic more than once per session).
I have tried with v-if on vue-clip component, and it is working, but i am sure that is not the right way.

[2017-05-31 21:05] alexsasharegan commented on #22
@electronrecord I believe in that use case you want to set these options:

[code]

Although I believe Dropzone.js might be pushing us into a corner due to this little bit of logic:

[code]

We want to leave off the multiple attribute, but accept more than one max file. If you can dive into the dom and grab the hidden input, you should be able to reverse this with something like this:

[code]

The

[2017-05-31 21:06] alexsasharegan commented on #22
And please, let us know if anything works! Let's try and leave a clear solution for whoever comes after and has the same issue.

[2017-05-31 21:17] alexsasharegan commented on #22
See here for the `multiple` attribute: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#attr-multiple

[2017-06-01 07:49] cristian-gherghel commented on #22
Well, for me the working thing is to put a v-if directive on vue-clip, and execute it  (toggle a var like isVueClip from true - false - true) from the complete function (the one which tells that the upload is completed), with a setTimeout of 10 ms. It works fine, so i'm happy with this for the moment, cause i do not have the time to dig the inside code.

[2017-06-03 14:37] ThomasRalee opened #27 "Does it work without Jquery?"
This dependency was not found in node_modules:
 jquery

[2017-06-03 17:55] alexsasharegan commented on #27
Yes, jQuery is NOT a dependency of either vue-clip or Dropzone.js. Be careful though because dropzone does check for jquery to attach itself as a plugin. If you're using webpack's ProvidePlugin, this can lead to jquery being included in your bundle.

[code]

[2017-06-04 17:29] yfxie opened #28 "How to delete uploaded file?"
I saw the method `onRemovedFile(file)` on README. the method will be invoked when the file was deleted.
but it seems there is no way to delete uploaded file. I have read source code.

what I need is the method `DELETE(file)` as following:

[code]

Clip#removeFile is the method I want. but I can't call the method inside `clip-uploader-body` slot, it's different scope.

refer this: https://vuejs.org

[2017-06-05 15:29] alexsasharegan commented on #28
Couldn't you proxy the method call by adding a method on your component using vue-clip?

[code]
You'll just need to add a ref to the vue-clip instance so you can call its methods.

[2017-06-05 15:37] cristian-gherghel commented on #28
i will try tomorrow and let you know if it works :)
thank you!

[2017-06-05 15:56] yfxie commented on #28
Yes, your code is actually the way I am using. by using $refs to ref VueClip instance and call removeFile. it works.

[2017-06-05 16:01] yfxie commented on #28
I suggest we should put the way to README. it's common requirement but I found the way by digging source code. on README there is only description about event hook.

Thanks for your reply

[2017-06-05 16:25] alexsasharegan commented on #28
@yfxie, that's a good idea. I don't have any commit permissions, but anyone can PR that. Any other key _gotchas_ like this?

[2017-06-06 09:34] cristian-gherghel commented on #28
sorry, not working for me. I made the ref="vc" on vue-clip tag,
then created the methods: { removeFile(file) { this.$refs.vs.removeFile(file) } },
then @click="removeFile(file)" on img tag, and result: this.$refs.vc.removeFile is not a function.

I guess i miss something here, but i don't realize it yet :)

PS: i have uninstalled npm unistall vue-clip, and reinstalled it.

[2017-06-06 09:40] yfxie commented on #28
@electronrecord can you provide snippet code?

[2017-06-06 09:45] electronrecord commented on #28
`<vue-clip ref="vc" :options="options"
                  :on-complete="Complete"
                  :on-sending="Sending"
                  :on-added-file="Uploading">
          <template slot="clip-uploader-action">
            <div>
              <div class="dz-message"><h2 @click="Set_Index(index)"> + </h2></div>
            </div>
          </template>

          <template slot="clip-uploader-b

[2017-06-06 09:51] yfxie commented on #28
@electronrecord sorry, information is not enough for me.

[2017-06-06 09:53] cristian-gherghel commented on #28
<vue-clip ref="vc" :options="options">

          <template slot="clip-uploader-action">
            <div>
              <div class="dz-message"><h2 @click="Set_Index(index)"> + </h2></div>
            </div>
          </template>

          <template slot="clip-uploader-body" scope="props">
            <div v-for="file in props.files">
              <img v-bind:src="file.dataUrl" @click="removeFi

[2017-06-06 09:58] yfxie commented on #28
@electronrecord  what's version of your vue ?
does your options work? and is options above methods?
can you provide entire code of the component

[2017-06-06 10:07] electronrecord commented on #28
oops, my mistake, i have uploaded the code above (with options). Still, where should the removeFile function came from? from vue-clip package?
 "name": "vue-clip",
  "version": "1.0.0",

[2017-06-06 10:11] yfxie commented on #28
I mean `<script>export default { ... }</script>`

and you put methods on wrong place

[code]

should be

[code]

[2017-06-06 10:18] cristian-gherghel commented on #28
(i'm a bit of an "idiot" :) ) sorry again for not writting the full code, i have updated the above, in order to not make a mess on here.

[2017-06-06 15:40] alexsasharegan commented on #28
P.S. I forked this repo in favor of a more event-driven style. Basically removed all the callback hooks and went straight to the dropzone.js source to proxy all their events using Vue's excellent event interface. This lets me just use the vue event binding syntax in the template (more idiomatic vue). Like so:

[code]

Not sure if you have more time to source dive, @yfxie, but I'm curious what peop

[2017-06-08 01:34] Arwany opened #30 "Resize image on the client before uploading"
Hi,

I know this is not an easy request / question, but here it is:

Where can I have access to the file before the server being hit? I just want to resize the image to some specific percentage / size before uploading to speed-up the process.

I googled a bit and found that it is quite possible, so here is what I would suggest:

include an option to resize the filetype of image (something like thi

[2017-06-08 01:44] alexsasharegan commented on #30
Initially, I think your best bet might be to play with the `accept` prop. Check out the Dropzone docs on it: http://www.dropzonejs.com/#config-accept

[2017-06-08 01:45] alexsasharegan commented on #30
Another option (possibly a better one now that I'm looking) is to use this hook: http://www.dropzonejs.com/#config-transformFile

[2017-06-08 01:46] alexsasharegan commented on #30
Not sure if this plugin exposes that, but you can always access the raw dropzone object by placing a ref on vue clip (let's say `vueClip` and accessing it like so:

[code]

[2017-06-08 01:47] Arwany commented on #30
I will try the config-transformFile one, and will check if it works. I was really looking for some "native" solution like that. Thanks!

[2017-06-08 01:48] alexsasharegan commented on #30
Let me know how it goes! I've always handled that stuff server-side. Sounds like a cool idea!

[2017-06-08 01:51] Arwany commented on #30
I don't know if I applied that correctly, I just added something like this to the uploader options:

resizeWidth: 128,
resizeHeight: 128,

but it didn't change anything, what am I doing wrong?

[2017-06-08 01:53] alexsasharegan commented on #30
Try and drop your source code in. Or link a gist. It's probably an issue with how you reference things and/or when they are applied. You might need to fork the repo to support your needs.

[2017-06-08 01:55] Arwany commented on #30
I did this:

[code]

And I am creating the vue-clip like this:

[code]

[2017-06-08 01:56] Arwany commented on #30
btw, where do I pass options to the DZ, not the vue-clip component?

I see that you are passing them from the options directly [here](https://github.com/thetutlage/vue-clip/blob/develop/src/Uploader.js#L41).

[2017-06-08 02:02] Arwany commented on #30
I think we need to include the latest version of the DropZone (5.0.0) because as the website states:

[2017-06-08 02:02] alexsasharegan commented on #30
So vue-clip proxies everything to DZ. The `options` prop you pass contains everything. You'll want to swap your bound attributes like `:on-complete` for props on your `uploaderOptions`.

[code]

[2017-06-08 02:04] Arwany commented on #30
Ok thanks, I will try that. But will it help if we upgraded the version of DZ?

The version included is not the most up-to-date [version](https://github.com/thetutlage/vue-clip/blob/develop/package.json#L45).

[2017-06-08 02:05] alexsasharegan commented on #30
If you're feeling brave, you might have more luck forking my fork of this repo to support the newest DZ (now on GitLab). DZ supposedly just got their release working since some of the hooks are different between GitHub and GitLab (see [this closed issue](https://gitlab.com/meno/dropzone/issues/11)). Also, I set the repo up to support vue's event emitting rather than the callbacks passed via props.

[2017-06-08 02:09] Arwany commented on #30
Thank you. I will try that later today and will write here if I had lock with that.

[2017-06-11 04:01] greggilbert opened #31 "Can't upload more after max hit"
When setting `maxFiles` as part of options, if you upload the max number of files and then delete one, you cannot add more.

To reproduce:

1. Set `maxFiles: 3` in options
2. Add a bind to delete uploads, e.g.

[code]
3. Upload 3 images
4. Click on one of the images to fire `removeFile`
5. Try to upload another image and watch nothing happen, without any errors

[2017-06-11 04:19] alexsasharegan commented on #31
This is probably related to a Dropzone problem. Vue-clip proxies almost all of its operations to Dropzone. I'll try take a look and see if the removeFile has internals of its own it just continues to proxy operations to Dropzone.

[2017-06-11 05:03] alexsasharegan commented on #31
Try this:

[code]

[2017-06-11 12:31] greggilbert commented on #31
Hmm, that didn't work for me. It also left the uploaded file there with a status of `removed`.

[2017-06-11 12:41] Arwany commented on #30
Sorry for the late reply. I tested the new feature in the DZ 5.0.1 and it seems to work without any problem. Would you mind upgrading to the 5.0.1 or do you prefere to stick with the old version.

I just added the parameter `resizeWidth` and `resizeHeight` and it worked without any issue.

[2017-06-11 19:53] alexsasharegan commented on #30
If I had commit rights, I could test the upgrade and push. I needed some tweaks/upgrades for my project too, so I forked this repo: https://github.com/alexsasharegan/vue-clip.

Maybe I'll test it on my fork, do the upgrade, and you can use that if you need to. I changed a bit of the options/events architecture and the file object a bit though. You'll have to go through the source a little and let

[2017-06-11 20:05] alexsasharegan commented on #31
Well :hankey: . I've been traveling, so haven't dove in just yet to figure out what the culprit is.

I remember maxFiles is managed entirely by Dropzone, so some method needs to be called to ensure DZ decrements it's file count. Vue-clip copies the DZ files to its own array (I believe that's to gain reactivity), so your original splice might still be necessary.

[2017-06-11 20:13] alexsasharegan commented on #31
Yeah, the removeFile method proxies to Dropzone (but it's passing the copied file to DZ, so let's hope it removes the file and decrements). That method does not remove it from its own files array though. Try adding your splice call right after the line `this.$refs.vc.removeFile(file)`

[2017-06-11 20:21] alexsasharegan commented on #31
Looks like it won't work because DZ is doing an equality check on the file object, and vue-clip creates a different file object, so the references are not equal. Checkout the DZ code that gets run on its files array:

[code]

[2017-06-11 20:24] alexsasharegan commented on #31
Unless you get this to work, I think this is inherently incompatible due to Dropzone's remove method. You could file an issue on their repo, but keep in mind it had moved to gitlab.

[2017-06-12 05:00] alexsasharegan commented on #31
This is more or less what I would hope works:
[code]

[2017-06-12 05:07] alexsasharegan commented on #30
Tested `v5.0.1` from dropzone, and all is good. I've updated my fork.

[2017-06-20 02:47] #28 closed, assigned to nobody

[2017-06-20 05:03] alexsasharegan commented on #28
P.S. @yfxie I started the work of porting Dropzone over at this repo: https://github.com/alexsasharegan/vue-transmit. Feel free to contribute!

[2017-06-23 13:18] mendiomon opened #32 "Loading files already existing on server"
How can i load files already existing on server? Lets say i refreshed page and dont want to loose already uploadef files.
I have backend endpoint that returns array of urls of files existing on server, so now i just have inserti it into vue.

[2017-06-23 13:23] alexsasharegan commented on #32
I'm working on something with a similar situation. I don't load already uploaded files into vue-clip though, I load them into some other files container component. I use clip to handle the uploading, displaying the progress, but once they're done, I throw the uploaded file into a different component.

When you reload the page, I use a created hook to make an ajax request for the uploaded files (ba

[2017-06-29 04:20] starfishs opened #33 "How to control upload buy myself"
How to control upload buy myself rather than automatic upload after select the file

[2017-07-05 08:54] MisterMarlu commented on #9
Hey, I have a problem to process the queue. What I am doing wrong in my code below?

[code]

My output in console:

![image](https://user-images.githubusercontent.com/15226569/27856984-38d15784-6170-11e7-890d-8cfdffb5130f.png)

[2017-07-07 03:30] wilddylan opened #36 "Why not support IE9"

[2017-07-23 19:03] qdotm opened #37 "Pre-compile templates ?"
Hello, I'm using Vue-Clip within my Nuxt project (https://github.com/nuxt) and get this error on render:

`[Vue warn]: You are using the runtime-only build of Vue where the template compiler is not available. Either pre-compile the templates into render functions, or use the compiler-included build.`

It works if I reference the compiler-included build in the web pack configuration of Nuxt like th

[2017-07-23 22:04] alexsasharegan commented on #37
The choice to use the template-less runtime version of Vue is yours. It will save you kb's on your build, but requires you to configure your toolchain to compile all component templates down to render functions. I agree that this lib _should_ configure it's own dist files down to render functions, but don't hold your breath on this. I haven't seen much activity here.

[2017-07-25 13:17] jchristopher commented on #6
Thank you so much for this thread! I was able to get beyond the `bytesSent` error by faking that as well. Here's the structure I'm using for a `mockFile`:

[code]

I was getting an issue with this line:

`uploader.uploader._uploader.createThumbnailFromUrl(mockFile, this.$settings.image_route + mockFile.name, null, true);`

so I commented that out and instead used the `image_route` itself in my Vue

[2017-07-29 22:56] Muchwat opened #38 "File name manipulation and associating it with input data"
How do we manipulate the file name , so that we can save it as a unique file and associate it with user data. If this is possible  then I can change the file name according to user input parameter or id , and  link user inputs to the file.

[2017-07-29 23:20] alexsasharegan commented on #38
Use the Dropzone.js config options found here: http://www.dropzonejs.com/#config-renameFile

[2017-07-30 00:33] Muchwat commented on #38
Thanks Alexsasharegan, looks like i have solved the issue, by generating some random characters in my PHP  backend then replacing the default client file name and echoing the file path as my custom response, then I accessed it from file.xhrResponse.response in on-complete and emitted it to the form as an input.

[2017-07-30 00:36] alexsasharegan commented on #38
I believe you can also add dynamic query params to the underlying Dropzone xhr, so you could always use that to work out a dynamic filename. Not sure if it's relevant, but I recommend using uuid's for file storage if your target is a filesystem.

Glad to hear you got something worked out!

[2017-07-30 00:45] Muchwat commented on #38
Thank you very much Alexsasharegan, let me look at your recommendations.

[2017-07-30 00:48] alexsasharegan commented on #38
Here are the params: http://www.dropzonejs.com/#config-params

[2017-08-04 07:39] toby3d opened #39 "method always is OPTIONS"
I run small local router with POST trigger, but after select any file I get arror:
![image](https://user-images.githubusercontent.com/5412322/28958877-8d690914-7911-11e7-8a61-dcc0e02d2fe5.png)
logs
[code]

My code in `.vue` file (after import and use module in `main.js`):
[code]

[2017-08-04 14:04] toby3d commented on #39
- Remove method -> OPTIONS method
- 'post' method -> OPTIONS method
- 'POST' method -> OPTIONS method
- 'GET' method -> OPTIONS method

[2017-08-04 14:29] thetutlage commented on #39
The OPTIONS request is made by browser when its a cross domain request, just read more about CORS

[2017-08-05 06:29] toby3d commented on #39
@thetutlage Oh, shit, I'm sorry. :no_mouth:

[2017-08-05 06:29] #39 closed, assigned to nobody

[2017-08-05 13:18] sath26 opened #40 "how can i add user input like a file description to multiple file i have selected through vuejs and get it to laravel?"
e.g. i am trying to upload multiple pdf files that comes under accounting category. i can get the pdf file to be uploaded but not accouting with each one of them

[2017-08-09 09:19] raharida opened #41 "Vue - Clip window is undefined"
I am trying to use vue-clip with vuetify and i get the following error

I added an undefined check in line 3543 for 'window' , it worked fine. So please check

error during render : /
ReferenceError: window is not defined
    at Object.<anonymous> (/Users/krishnamurthys/HCM/project-hcm/node_modules/vue-clip/dist/vue-clip.js:3543:15)
    at Object.<anonymous> (/Users/krishnamurthys/HCM/project-hcm/

[2017-08-13 18:43] aleksandrmelnyk opened #42 "Progress for each file"
Hi,

is there a way to get progress for each file separately, for example to show progress against each file?

thanks.

[2017-08-13 19:24] alexsasharegan commented on #42
You can use a scoped slot to obtain a reference to the files on the uploader component. Then you can access `file.upload.progress`.

[code]

[2017-08-14 03:53] aleksandrmelnyk commented on #42
nice one, thanks

[2017-08-14 03:53] #42 closed, assigned to nobody

[2017-08-16 21:59] kcifuentes opened #43 "How to configure global options?"
Hello, I have a doubt, in my project it is necessary to configure the option headers in a global way in order not to have to instantiate it every time I use the vue-clip component.

I Would like to know if there is any way to do this?

Thank you and forgive my bad English, I'm Spanish speaking...

[2017-08-16 22:11] alexsasharegan commented on #43
You could always define your headers in a separate file and import them each time you use an uploader.

[2017-08-17 10:38] sath26 opened #44 "how to send input values with it like title or description?"

[2017-08-22 23:03] medspec opened #46 "How can i remove the file from the uploaded list"
without a refresh it current holds all the upload in internal data, so not accessabel.
When an upload is successfull i want te remove it from the list, how can i access that file list?

[2017-08-22 23:06] medspec commented on #46
sorry, i see now there is a pull request for it #28

[2017-08-22 23:08] alexsasharegan commented on #46
For reference, I think you mean the PR at #29

[2017-08-23 06:41] medspec commented on #46
Yeah the pull is #29  the underlying issue #28
thanks!

[2017-08-23 06:41] #46 closed, assigned to nobody

[2017-08-23 18:20] kcifuentes commented on #43
Thanks, @alexsasharegan.

[2017-08-23 18:20] #43 closed, assigned to nobody

[2017-08-28 00:25] kcifuentes commented on #8
@kartsims How you Fix the error?

[2017-08-28 02:13] alexsasharegan commented on #8
Remove the spaces in the mustache tags.

[2017-09-01 15:57] Odaeus commented on #18
I think what @vkruoso means is that using the `v-bind:` attribute in this way is non-standard and that to attach events the parent element is expected to use `v-on:` attributes. The child is supposed to emit events by calling `this.$emit("name", data)` internally.

So the expected invocation would be more like:
`<vue-clip :options="opts" @on-sending="onFileSend" />`

[2017-09-01 16:25] alexsasharegan commented on #18
@Odaeus , @vkruoso ,

This lib is just a wrapper for dropzone.js, so it's using the same options object via prop. If you want more idiomatic vue, check out my WIP rewrite of dropzone in Vue only: https://github.com/alexsasharegan/vue-transmit

I emit events using vue's emit syntax, so everything is a hyphen delimited event:
- `@drag-over`
- `@added-file`
- `@max-files-reached`
- `@upload-progress`

[2017-09-12 09:30] voicecode-bv commented on #44
Hi @sath26, check the docs and look for Events and check onSending()

[code]

[2017-09-25 17:48] hpaul opened #47 "Method to reset inner reference of files"
Hello,

I suggest a new method which could be called to reset the array of fields from `vue-clip` data.
But this should not trigger `onRemovedFile` event, because you just want to remove files which template render.

Something like:
[code]

So you can call
[code]

It's small, but very useful sometimes.

[2017-10-05 16:13] alwayszb opened #48 "[Question] How to use withCredentials in vue-clip?"
How to send files with cookie credentials in vue-clip?

[2017-10-05 18:46] alexsasharegan commented on #48
You should be able to use the `headers` option to pass your cookie credentials.

[2017-10-08 08:25] aleksandrmelnyk commented on #31
Similar issue when you want to change maxFiles dynamically. Would be gr8 if vue-clip supports options update, at least like setMaxFiles() etc.

[2017-10-08 08:34] aleksandrmelnyk commented on #31
I also used this:
`this.$refs.vc.uploader._uploader.options.maxFiles = 10`(updated)
though not sure if it will work on production build

[2017-10-08 08:43] alwayszb commented on #48
@alexsasharegan Could you give an example for better understanding? Thanks!

[2017-10-08 15:55] alexsasharegan commented on #48
I think I would need to understand your use case better first. Roughly what are trying to send? What are you expecting the XHR to look like?

[2017-10-08 15:59] alexsasharegan commented on #31
Your workaround directly accesses the underlying dropzone instance, so it would work 👍

For any others that try to replicate @aleksandrmelnyk's workaround, just remember that `this.$refs.vc` refers to his vue-clip ref _(`this.$refs[yourRefHere]`)_, the rest of that object path is generic.

\* If you want to give vue-transmit a try, you can just dynamically update your `maxFiles` to the vue-transmi

[2017-10-09 02:25] alwayszb commented on #48
I just want `xhr.withCredentials = true`, so the upload request could carry the cookie credentials, because the upload operation needs login authority.

[2017-10-09 09:20] alwayszb commented on #48
@alexsasharegan I found out a solution: set `xhr.withCredentials = true` in `onSending` event, it solved my problem. Thanks for your help!

[2017-10-09 09:20] #48 closed, assigned to nobody

[2017-10-09 13:40] alexsasharegan commented on #48
You should also be able to include in your options props passed to vue-clip:
[code]

http://www.dropzonejs.com/#config-withCredentials

[2017-10-09 15:36] alwayszb commented on #48
Awesome! Using `withCredentials: true` in options is a more reasonable and efficient way.

[2017-10-13 14:20] neojpk opened #49 "vue change to scopes inside slots echoing undefined to dom"
Vue changed slots to slot-scope.

[2017-10-13 15:53] alexsasharegan commented on #49
What exactly is the issue here? What is expected vs. what the component is doing?

[2017-11-11 04:26] StyxOfDynamite commented on #49
I'm new to this but can replicate, just not sure what you need to do moving forward, it's an easy fix in the example.

change `scope="props"` -> `slot-scope="props"`

When using in webpack build I get warning that `slot` attribute has been renamed to `slot-scope` and is now applicable on regular elements.

Trying the simple example in the readme yields.

<code>
the "scope" attribute for scoped slo

[2017-11-22 18:18] alfredobarron opened #50 "How to get error of maxFilesize option?"
The method on-max-file-size

[2017-11-23 08:26] mesqueeb opened #51 "[Request] Simple single image upload area"
I'd love if you could add a CSS option or an example in the docs to get a _simple single image uploader_ like so:

1. <img width="329" alt="2017-11-23 16 37 14" src="https://user-images.githubusercontent.com/3253920/33162383-ae1fa19c-d06c-11e7-9a32-ed193a076199.png">
2. <img width="322" alt="2017-11-23 16 37 28" src="https://user-images.githubusercontent.com/3253920/33162385-afe34df8-d06c-11e7-9af

[2017-11-30 16:10] DwayneHawkins commented on #26
Easy but still not fixed :(

[2017-11-30 17:54] alexsasharegan commented on #26
@UsernamesAreOutdated, I've taken to creating my own Dropzone vue implementation since this project has grown stale. Have a look to see if it may suit your needs better: https://github.com/alexsasharegan/vue-transmit

[2017-12-11 05:00] fusigabs opened #52 "How to stop an upload process"
Is there a way to stop an upload process when it already started? I mean how to entirely kill the upload process.

[2017-12-15 08:24] prakashpie commented on #47
yes, very required functionality...

[2017-12-20 15:30] imanuelgittens commented on #52
I'd like to upload my files on form submit instead of automatically. Is there any way to disable the automatic upload?

[2017-12-29 09:01] williambao opened #53 "Support Upload image from Clipboard"
Hi,
It's can support directly upload image from Clipboard?
Sometimes we just want to quickly upload image from screen snap.
If it's support Ctrl + V to upload Clipboard image, it's so cool.

[2018-01-04 11:41] bee-interactive opened #54 "Upload files with Laravel"
Hi!

I'm trying to make it work with laravel but for now, nothing seems to work. I can't get the file data on the Laravel side. The example shown in the video use another routing system.

Is this component compatible with Laravel? How can I achieve to pass the datas to my Laravel controller?

Thanks in advance!

[2018-01-04 23:02] juhasev commented on #54
I am assuming you are getting 419. If so make sure you tell the vue-clip to pass the XMLHttpRequest and CSRF token headers. If you are using vanilla Laravel these are already attached to Axios by default.

[code]
All what you need to do is to pass these in the vue-clip options array:
[code]
Processing in your controller can be done like this:

[code]

[2018-01-11 08:23] bee-interactive commented on #54
Thanks, worked great for me! Have a good day!

[2018-01-11 08:23] #54 closed, assigned to nobody

[2018-01-26 10:15] Morgitou commented on #24
I had the exact same problem. However, I found a solution. You can check the files[0]._file.width & files[0]._file.height . Those variables holds the data ;)

[2018-01-29 16:59] superkyoh opened #55 "Missing cancel upload"
Hey, How can I cancel the upload request?
Please help.

[2018-02-23 01:55] alexsasharegan commented on #26
I'm closing this to clean up my personal outstanding issues.

[2018-02-23 01:55] #26 closed, assigned to nobody

[2018-02-23 01:56] #25 closed, assigned to nobody

[2018-03-06 10:43] tomaytotomato opened #56 "vue-clip events being triggered without fileupload"
Hey,

I have this dialogue menu that allows users to create individual accounts or bulk upload.

The bulk upload dialogue uses vue-clip and is nested in a condition `v-if`

[code]

This dialogue is triggered by a radio button, when I select `bulk` the `:on-added-file` event is triggered.

[code]
I then removed the conditional v-if but it was still calling triggering the method.

Any ideas?

I am u

[2018-03-06 14:57] alexsasharegan commented on #56
Not positive on this, but since this lib is missing the internal dropzone destroy logic, it could be an issue with the old instance. Not sure on that though, since I would expect each newly created vue component to create a new dropzone instance (and probably leak the old one).

Here is the related issue that was never addressed: https://github.com/thetutlage/vue-clip/issues/26

If you keep runnin

[2018-03-14 20:39] killua99 commented on #6
In case you're dealing with  electron-vue and want to show local files you could do the next.

[code]

You could pass a direct base64 encoded file to show a thumbnail.

[2018-03-15 15:17] #47 closed, assigned to nobody

[2018-03-20 10:14] mykeels commented on #2
[This](https://github.com/egoist/vue-no-ssr) could help with the Server Side Rendering.

You could entirely disable rendering the component on the server till there's an elegant solution for SSR.

[2018-03-22 01:39] ghost commented on #17
how to accept all kind of types?

[2018-03-22 02:47] alexsasharegan commented on #17
I believe you can just omit passing the `acceptedFiles` prop to get all files, @huaoxiang .

[2018-03-22 09:59] #17 closed, assigned to nobody

[2018-03-22 18:02] alexsasharegan opened #57 "[suggestion] add notice of inactivity"
It's quite clear that this repo is inactive, which is perfectly fine. Life takes our attention elsewhere, and this is FREE software! Nonetheless, as various bugs have cropped up from usage, I think it's only fair to put some kind of notice in the readme of inactivity/maintenance-mode/etc.

Please consider adding a message of inactivity into the repo's readme. I think it's fair to warn people that

[2018-04-04 16:04] pierrebraun opened #58 "How can I upload large files by chunk?"

[2018-04-04 17:32] alexsasharegan commented on #58
Chunking isn't supported in this lib. Dropzone 5.x has chunked upload support (although I believe it remains undocumented), but this lib is constrained to 4.x. You would have to fork, upgrade, and start hacking to try and make use of the feature.

[2018-04-06 16:00] dker92 opened #59 "Upload binary files"
Hi,
I tried to use vue-clip to upload an octet-stream file but it is not working , I tried to upload others type of files and it works.
Are binary files not supported ?

[2018-04-06 16:49] alexsasharegan commented on #59
All files transmit over the wire as octet streams. Did you have a looks at the options for accepted file types? It can handle validating against extensions and mime types.

[2018-04-09 08:04] abelfernandez1 commented on #37
Same problem using Quasar. Solved with:

[code]

[2018-05-09 08:14] Erdboden opened #60 "Don't upload right away"
How to stop the upload process to server right after I attach a file? I need it on button click

UPDATE

got it, have to add autoProcessQueue: false, to options

[2018-05-09 11:38] #60 closed, assigned to nobody

[2018-05-14 21:10] jyoungqu opened #61 "Cloud Storage upload?"
Hi guys! Firstly, this is a pretty sweet uploader and well thought out. I've not dug into the depths just yet but wanted to see if there were some pointers on getting this easily integrated into my current needs which uses Firebase Storage which is built on top of Google Cloud Storage (https://firebase.google.com/docs/storage/web/start) I'm in the process if ripping out jQuery based code and repla

[2018-05-14 21:29] alexsasharegan commented on #61
@jyoungqu, you should check out https://github.com/alexsasharegan/vue-transmit. I've been hacking on a Firebase driver to make interfacing easy.

I would try forking/cloning `master` locally and playing with the test app. The test app has a sub-package of sorts (requires a separate npm install). You'll need to drop in a `test/server/.firebase.json` file with your own credentials too to connect to

[2018-05-15 22:30] jyoungqu commented on #61
Thanks @alexsasharegan - Taking a look at the vue-transmit setup doesn't fit my needs as is since what I currently do is direct uploads from client to cloud storage with the firebase SDK for storage - so no server side solution.

[2018-05-15 22:30] #61 closed, assigned to nobody

[2018-05-15 22:37] alexsasharegan commented on #61
@jyoungqu , I don't think you understood. The test app uses a server to serve the test app an hide credentials from github. You don't have to use it, but it's exactly what you're looking for.

[2018-05-17 00:54] joemanfoo commented on #61
@alexsasharegan - Hmm, I took a look at the client side and didn't see anything jumping out at me as being plugin for the firebase storage sdk. I'll take another look. Thank you.

Yep, totally didn't look close enough - thanks again Alex!

[2018-05-17 04:37] alexsasharegan commented on #61
@joemanfoo , it's still in alpha, but I do have a firebase driver you can pop in. Got it working a little while back, but just need to steal some more time to refine it! Feel free to drop in issues over there!

[2018-06-08 07:11] jasperf opened #62 "Different Image Sizes on Upload"
Wonder how we could use the original image on upload to store the images in different sizes:

- thumbnail
- small
- medium
- large
- original

 from which we can then choose. I have seen this in the WordPress media manager and it is really nice to have. It allows you to pick the best fitting image and not being forced to scale it or at least as little  as possible.

[2018-06-19 16:32] alexsasharegan commented on #57
Ironically, closing this due to inactivity.

[2018-06-19 16:32] #57 closed, assigned to nobody

[2018-06-27 13:31] oanstein commented on #11
With "this.uploader" set you can use all the [dropzone.js methods](http://www.dropzonejs.com/#dropzone-methods).

If you want to remove all files, simply use **this.uploader.removeAllFiles()**. Files that are in the process of being uploaded won’t be removed. If you want files that are currently uploading to be canceled, call .removeAllFiles(true) which will cancel the uploads.

[2018-08-16 14:50] xtsolucoes opened #63 "TypeError: Cannot read property 'innerHTML' of undefined"
I'm with this error and I do not know how to solve it, could you give me some
![screen shot 2018-08-16 at 11 04 15](https://user-images.githubusercontent.com/11356150/44216130-92f54700-a14a-11e8-84d2-d2b8520cf0d6.png)
 help?

[2018-08-21 10:11] JonBlue commented on #37
would like to see this happen

[2018-08-21 15:21] alexsasharegan commented on #37
The template source code is located here: https://github.com/thetutlage/vue-clip/blob/develop/src/components/Clip/index.js#L19-L23

Here is a bare-bones translation into render functions. Realistically, I don't see this lib getting updated. I recommend you fork and try using the render function below.

[code]

[2018-08-31 05:31] zhaodamao opened #64 "为什么上传的时候是双击，而不是单击啊？"
为什么上传的时候是双击，而不是单击啊？

[2018-09-06 11:02] aleksandrmelnyk commented on #59
Same here, tried to upload zip file with application/zip mime type, or without mime types, but no luck so far

[2018-09-06 11:19] aleksandrmelnyk commented on #59
ok, my bad, i had to set size limit bigger.

[2019-01-05 22:45] scramatte commented on #6
It works for me.

But anybody know how can I append  database  id  to the mockfile structure to be able to get
it in  on removed event?

Regards

[2019-01-16 08:53] BadiR3d opened #65 ""uploaderClass: undefined""
Good morning.

I'm having trouble getting my customer component to render, I've just recently started learning vuejs, so it might be my lack of knowledge. But I've followed the "Basic Usage" section, but still having no luck at all. When I open up the inspector, to check the vue tab, i see "uploaderClass: undefined", so I was just wandering if that might have something to do with it not rendering

[2019-01-27 23:09] kaankilic commented on #52
no solution about this?

[2019-01-28 12:10] kaankilic commented on #52
For the people who are looking for the solution is use another plugin. This repo is useless. It's almost using dropzone behind the door. As same as the dropzone docs, you can set `autoProcessQueue` false to prevent uploading process on the fly. However, there is no way to call `processQueue()` function manually. You have to run this function to process upload again while already prevented. Many fu

[2019-03-04 16:24] divdax opened #66 "Drag & Drop page"
Is it possible to make it happen that a dropped file anywhere on the page is uploaded with vue-clip? Currently you only can drop a file on the slot `clip-uploader-action`

[2019-03-04 22:20] divdax commented on #55
Any new on this?

[2019-03-14 05:47] sufyan297 commented on #63
i also encountered  same error. btw i am using NuxtJS so to resolve this i have added below code to nuxt.config.js file.
This is not recommended but it will work :)

`build: {
        extend(config) {
            config.resolve.alias['vue'] = 'vue/dist/vue.common'
        }
    }
`

[2019-03-18 18:53] syberkitten opened #67 "how to send json payload in body?"
is it possible to add extra data with the files,
like (in dropzone):
[code]
or postData (Prop) in vue2-multi-uploader ?

Thanks

[2019-04-07 03:44] jasperf opened #68 "Error 500 Uploading using Vue-Clip and GD Library"
I am using vue-clip inside a Laravel project. Works well locally running Laradock with ImageMagick. But when I use built in GD Library (for image resizing) I get errors 500.

file `ImageUAndSModal.vue` takes care of the uploading and selection and this Vue method deals with the completed uploads at

[code]
It diligently shows the file cannot be uploaded and in the console I see an error 500

[code

[2019-06-19 08:57] manuman94 opened #69 "Plugin localization"
Hi!

Thank you for this awesome Vue addon.

I tried to translate Dropzone's default messages and I couldn't find a way to do it.

Dropzone has this variables that you can override by filling them in the desired language:

[code]

How can this be achieved with Vue-clip?

Thank you, greetings.

[2019-06-25 10:07] manuman94 commented on #69
Ok! I solved the problem using the "message" parameter in the configuration options.

My fault for not reading all the documentation.

Sorry, and thank you!

[2019-11-29 04:23] mingdongt opened #72 "Is .msg file supported?"
Hi all,

I included the MIME type "application/vnd. ms-outlook" for .msg file in `acceptedFiles`, but it indicates that the file is not supported when uploading file, I'm wondering if it's an issue or my fault? Thanks!

[2020-04-23 06:24] izshreyansh opened #73 "Failed to mount component: template or render function not defined"
Similar issue #16 exists, But the conversation lead into Laravel mix specific solution.
I'm using Vue Project with Vue `2.6.11`

I'm still receiving this error in console `Failed to mount component: template or render function not defined.`

Can someone please help me, My Vue file looks like this:

[code]

[2020-04-23 09:32] izshreyansh commented on #73
I was also getting this error `You are using the runtime-only build of vue where the template compiler is not available.`

There was a discussion around this [issue](https://github.com/vuejs/vue-router/issues/713)

Its about the runtime template we're using here. [Runtime + Compiler vs. Runtime-only](https://vuejs.org/v2/guide/installation.html#Runtime-Compiler-vs-Runtime-only)

However i still do

[2020-06-28 13:02] 49e94b8f256530dc0d41f740dfe8a4c1 commented on #63
I solved it by creating `vue.config.js` on the root (where `package.json` is located) and putting this there

[code]

[2020-10-20 09:05] scramatte opened #74 "How can I disabled upload button/area ?"
Hello,

Anybody now how can I disabled upload button/area meanwhile an upload is in progress?

Regards

[2021-05-05 18:34] peebles opened #75 "Suppress upload?"
I want to upload a file from the user's computer to the webapp, and will process the actual file in the webapp itself; I do not want to send it via "url" to a server somewhere.  I would use the onAddedFile event to process the file, and I would like to either have an option like "donotSend", or be able to cancel the send in the onSending event.  Or something to this effect.

[2022-07-28 14:43] lucabecchetti opened #76 "Vue3 Issue"
using vue3 i obtain:

[Vue warn]: Component is missing template or render function.

any help?

[2022-10-08 19:51] Riturajvaishnav2 commented on #17
accept: ['.jpg', '.png'],

[2022-10-08 19:53] Riturajvaishnav2 commented on #17
accept: ['image/*']
or
accept: ['.jpg', '.png'],=
or
accept: ['application/vnd.ms-excel', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'],